%h1 Books#search
%p Find me in app/views/books/search.html.haml
.container
  .row
    .col-md-12.well= @keywd
  .row
    .col-md-12
      - @res.each do |item|
        .row.well
          %h5= link_to item.title, item.page_url, target: "_blank"
          - if item.image_url
            = link_to image_tag(item.image_url), item.page_url, class: "pull-left", target: "_blank"
          - else
            = link_to image_tag("no_image.png", size: "56x75"), item.page_url, class: "pull-left", target: "_blank"
          %dl.dl-horizontal.pull-left
            %dt 著者
            %dd= item.authors
            %dt 出版社
            %dd= item.publish
            %dt 出版日
            %dd= item.publication_date
            %dt ISBN
            %dd= item.isbn
