%h1 Books#search
%p Find me in app/views/books/search.html.haml
.container
  .row
    .col-md-12.well= @keywd
  .row
    .col-md-12
      - @res.each do |item|
        .row.well
          = form_for item, url: book_path(item.asin), html: { name: item.asin } do |f|
            %h5= f.submit item.title
            - if item.image_url
              = image_submit_tag item.image_url, class: "pull-left"
            - else
              = image_submit_tag "no_image.png", width: "56", height: "75", class: "pull-left"
            %dl.dl-horizontal.pull-left
              %dt 著者
              %dd= item.authors
              %dt 出版社
              %dd= item.publish
              %dt 出版日
              %dd= item.publication_date
              %dt ISBN
              %dd= item.isbn
            = f.hidden_field :asin
            = f.hidden_field :title
            = f.hidden_field :image_url
  .row
    .col-md-12
      = paginate @res
